@charset "utf-8";
/* CSS Document | D.Y */
html,body{
	background-color: #e5e5e5;
	min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}

header{
	background-color: #fff;
	padding :5px 20px;
}

.menu{
	background-color: #e74c3c;
	margin:0px 0px 10px 0px;
}

.nav li a{
	text-decoration: none;
	font-family:Arial;
	font-size:16px;
	font-weight: bold;
	color : #fff;
}

.nav li a:hover {
    background-color:#c0392b ;
}
.sidebar {
  position: relative;
  border-radius: 3px;
  background-color: #d9edf7;
  border: 2px solid #d2d6de;
  margin-top: 15px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box {
  position: relative;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #d2d6de;
  margin-top: 15px;  
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.isisidebar{
	margin-right: 0px;
	padding: 15px 15px 15px 15px;
	font-size: 14px;
	font-family: arial;
	text-align: left;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.content{
	padding: 15px 15px 15px 15px;
	
}
.isicontent{
	font-size: 14px;
	font-family: arial;
}
.text-center{
	text-align: center;
}

footer.copyright{
	font-size:12px;
	font-weight: bold;
	font-family: sans-serif;
}

}